.icon-action-back-dark {
	background: url("svg/sprite.css-e93da542.svg") 56.9277108433735% 91.98717948717949% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-action_close_dark-ve {
	background: url("svg/sprite.css-e93da542.svg") 30.239520958083833% 80.2547770700637% no-repeat;
	width: 18px;
	height: 18px;
}

.icon-activity {
	background: url("svg/sprite.css-e93da542.svg") 26.060606060606062% 91.98717948717949% no-repeat;
	width: 22px;
	height: 20px;
}

.icon-activity_cross {
	background: url("svg/sprite.css-e93da542.svg") 58.47953216374269% 75.15527950310559% no-repeat;
	width: 10px;
	height: 10px;
}

.icon-activity_tick {
	background: url("svg/sprite.css-e93da542.svg") 99.41348973607037% 57.407407407407405% no-repeat;
	width: 11px;
	height: 8px;
}

.icon-add_friend {
	background: url("svg/sprite.css-e93da542.svg") 6.0606060606060606% 92.88025889967638% no-repeat;
	width: 22px;
	height: 23px;
}

.icon-alert {
	background: url("svg/sprite.css-e93da542.svg") 23.49397590361446% 99.35897435897436% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-alert-danger {
	background: url("svg/sprite.css-e93da542.svg") 49.66887417218543% 71.63120567375887% no-repeat;
	width: 50px;
	height: 50px;
}

.icon-alert-info {
	background: url("svg/sprite.css-e93da542.svg") 33.11258278145695% 71.63120567375887% no-repeat;
	width: 50px;
	height: 50px;
}

.icon-alert-success {
	background: url("svg/sprite.css-e93da542.svg") 16.556291390728475% 71.63120567375887% no-repeat;
	width: 50px;
	height: 50px;
}

.icon-alert-warning {
	background: url("svg/sprite.css-e93da542.svg") 0 71.63120567375887% no-repeat;
	width: 50px;
	height: 50px;
}

.icon-applications {
	background: url("svg/sprite.css-e93da542.svg") 32.72727272727273% 91.98717948717949% no-repeat;
	width: 22px;
	height: 20px;
}

.icon-billing {
	background: url("svg/sprite.css-e93da542.svg") 90% 56.962025316455694% no-repeat;
	width: 22px;
	height: 16px;
}

.icon-breadcrumb-separator {
	background: url("svg/sprite.css-e93da542.svg") 60.69364161849711% 74.69135802469135% no-repeat;
	width: 6px;
	height: 8px;
}

.icon-color {
	background: url("svg/sprite.css-e93da542.svg") 9.785932721712538% 81.81818181818181% no-repeat;
	width: 25px;
	height: 24px;
}

.icon-connect-off {
	background: url("svg/sprite.css-e93da542.svg") 94.78527607361963% 48.07692307692308% no-repeat;
	width: 26px;
	height: 20px;
}

.icon-connect-on {
	background: url("svg/sprite.css-e93da542.svg") 61.96319018404908% 57.69230769230769% no-repeat;
	width: 26px;
	height: 20px;
}

.icon-connections {
	background: url("svg/sprite.css-e93da542.svg") 19.393939393939394% 92.28295819935691% no-repeat;
	width: 22px;
	height: 21px;
}

.icon-cost_close {
	background: url("svg/sprite.css-e93da542.svg") 99.68354430379746% 68.24324324324324% no-repeat;
	width: 36px;
	height: 36px;
}

.icon-cost_open {
	background: url("svg/sprite.css-e93da542.svg") 88.29113924050633% 68.24324324324324% no-repeat;
	width: 36px;
	height: 36px;
}

.icon-dashboard {
	background: url("svg/sprite.css-e93da542.svg") 24.397590361445783% 80.2547770700637% no-repeat;
	width: 20px;
	height: 18px;
}

.icon-dismiss-dark {
	background: url("svg/sprite.css-e93da542.svg") 100% 47.61904761904762% no-repeat;
	width: 17px;
	height: 17px;
}

.icon-download {
	background: url("svg/sprite.css-e93da542.svg") 62.95180722891566% 91.69329073482429% no-repeat;
	width: 20px;
	height: 19px;
}

.icon-dropdown {
	background: url("svg/sprite.css-e93da542.svg") 99.70588235294117% 55.214723926380366% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-info {
	background: url("svg/sprite.css-e93da542.svg") 44.87951807228916% 91.98717948717949% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-logo {
	background: url("svg/sprite.css-e93da542.svg") 71.12676056338029% 49.66887417218543% no-repeat;
	width: 68px;
	height: 30px;
}

.icon-logo_circle {
	background: url("svg/sprite.css-e93da542.svg") 76.6773162939297% 68.9419795221843% no-repeat;
	width: 39px;
	height: 39px;
}

.icon-menu {
	background: url("svg/sprite.css-e93da542.svg") 96.08433734939759% 56.60377358490566% no-repeat;
	width: 20px;
	height: 14px;
}

.icon-menu_dropdown_closed {
	background: url("svg/sprite.css-e93da542.svg") 97.94117647058823% 52.147239263803684% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-menu_dropdown_open {
	background: url("svg/sprite.css-e93da542.svg") 90.88235294117646% 52.147239263803684% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-menu_section_highlight {
	background: url("svg/sprite.css-e93da542.svg") 99.13793103448276% 51.829268292682926% no-repeat;
	width: 4px;
	height: 4px;
}

.icon-messages {
	background: url("svg/sprite.css-e93da542.svg") 12.727272727272727% 92.58064516129032% no-repeat;
	width: 22px;
	height: 22px;
}

.icon-pages {
	background: url("svg/sprite.css-e93da542.svg") 0 92.88025889967638% no-repeat;
	width: 20px;
	height: 23px;
}

.icon-read {
	background: url("svg/sprite.css-e93da542.svg") 17.378048780487806% 80.2547770700637% no-repeat;
	width: 24px;
	height: 18px;
}

.icon-receipt_confirmed {
	background: url("svg/sprite.css-e93da542.svg") 86.26198083067092% 49.504950495049506% no-repeat;
	width: 39px;
	height: 29px;
}

.icon-reload {
	background: url("svg/sprite.css-e93da542.svg") 0 84.84848484848484% no-repeat;
	width: 32px;
	height: 35px;
}

.icon-reports {
	background: url("svg/sprite.css-e93da542.svg") 12.312312312312311% 100% no-repeat;
	width: 19px;
	height: 22px;
}

.icon-sdk-documentation {
	background: url("svg/sprite.css-e93da542.svg") 17.964071856287426% 99.35897435897436% no-repeat;
	width: 18px;
	height: 20px;
}

.icon-sdk-download {
	background: url("svg/sprite.css-e93da542.svg") 35.52238805970149% 79.74683544303798% no-repeat;
	width: 17px;
	height: 16px;
}

.icon-sdk_documentation {
	background: url("svg/sprite.css-e93da542.svg") 6.606606606606607% 100% no-repeat;
	width: 19px;
	height: 22px;
}

.icon-search {
	background: url("svg/sprite.css-e93da542.svg") 39.03903903903904% 91.98717948717949% no-repeat;
	width: 19px;
	height: 20px;
}

.icon-setting {
	background: url("svg/sprite.css-e93da542.svg") 0 100% no-repeat;
	width: 22px;
	height: 22px;
}

.icon-sort {
	background: url("svg/sprite.css-e93da542.svg") 94.41176470588235% 52.147239263803684% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-steps_tick {
	background: url("svg/sprite.css-e93da542.svg") 76.59574468085107% 56.962025316455694% no-repeat;
	width: 23px;
	height: 16px;
}

.icon-support {
	background: url("svg/sprite.css-e93da542.svg") 50.903614457831324% 91.98717948717949% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-upload_logo {
	background: url("svg/sprite.css-e93da542.svg") 83.33333333333333% 56.962025316455694% no-repeat;
	width: 22px;
	height: 16px;
}

.icon-user_selfie_ph {
	background: url("svg/sprite.css-e93da542.svg") 64.1025641025641% 69.17808219178082% no-repeat;
	width: 40px;
	height: 40px;
}

.icon-user_selfie_ph_large {
	background: url("svg/sprite.css-e93da542.svg") 0 0 no-repeat;
	width: 202px;
	height: 202px;
}

.icon-user_selfie_ph_medium {
	background: url("svg/sprite.css-e93da542.svg") 100% 0 no-repeat;
	width: 150px;
	height: 150px;
}

.icon-users {
	background: url("svg/sprite.css-e93da542.svg") 69.51219512195122% 57.142857142857146% no-repeat;
	width: 24px;
	height: 17px;
}

