.activity {
  margin-bottom: 20px;
  border: 1px solid $color-14;

  &-header {
    background-color: $color-16;
    color: $color-3;
    border-bottom: 1px solid $color-14;
    padding: 10px 20px;
  }

  &-body {
    padding: 15px 20px;
    cursor: pointer;
    > div,
    > div .icon-activity_tick,
    > div .icon-user_selfie_ph {
      display: inline-block;
      vertical-align: middle;

      .activity-time {
        float: right;
        text-align: right;
        color: $color-grey-5;
        p {
          margin: 0;
        }
      }
    }
  }
}
